@charset "utf-8";

#traccion {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	vertical-align: middle;
	text-align: center;
	align-content: center;
	margin-bottom: 0px
}

#traccion #arriba #centro{
	width: 33.33%;
	float: left;
	margin-right: auto;	
}

#traccion #arriba #izquierda{
	width: 33.33%;
	float: left
}

#traccion #arriba #derecha{
	width: 33.33%;
	float: right;
	margin-right: auto;	
}

#traccion #abajo #centro{
	width: 33.33%;
	float: left;
	margin-right: auto;	
}

#traccion #abajo #izquierda{
	width: 33.33%;
	float: left
}

#traccion #abajo #derecha{
	width: 33.33%;
	float: right;
	margin-right: auto;	
}

#traccion #medio #izquierda {
	float: left;
	width: 33.33%;
}
#traccion #medio {
	width: 100%;
}

#traccion #medio #centro {
	float: left;
	width: 33.33%;
}
#traccion #medio #derecha {
	float: right;
	width: 33.33%;
}


#servos {
    height: 54px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	vertical-align: middle;
	text-align: center;
	align-content: center;
	margin-bottom: 10px;
}


#servos #izquierda {
	float: left;
	width: 33.33%;
}

#servos #centro {
	float: left;
	width: 33.33%;
}
#servos #derecha {
	float: right;
	width: 33.33%;
}

#velocidad {
    height: 54px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	vertical-align: middle;
	text-align: center;
	align-content: center;
	margin-bottom: 10px;
}


#velocidad #izquierda {
	float: left;
	width: 33.33%;
}

#velocidad #centro {
	float: left;
	width: 33.33%;
}
#velocidad #derecha {
	float: right;
	width: 33.33%;
}


.boton {
	background-color: #2daae1;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	margin: 2px 2px 2px 2px;
	height: 50px;
}

.boton_mas {
	background-color: forestgreen;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	margin: 2px 2px 2px 2px;
	height: 50px;
}

.boton_menos {
	background-color: red;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	margin: 2px 2px 2px 2px;
	height: 50px;
}

.numero {
	background-color: white;
	width: 100%;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	margin: 2px 2px 2px 2px;
	height: 50px;
}

.botonnegro {
	background-color: gray;
	width: 100%;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	height: 50px;
}

.botonrojo {
	background-color: forestgreen;
	width: 100%;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	height: 50px;
}

.botonservos {
	background-color: gray;
	width: 100%;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	height: 50px;
}

#control_acin {
	-webkit-appearance: none;
	width: 100%;
	margin-top: 5.5px;
	margin-bottom: 38.5px;
}

#control_acin::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: gray;
  border-radius: 0px;
  border: 0px solid #000001;
}
#control_acin::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 50px;
  width: 30px;
  border-radius: 50px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}
#control_acin:focus::-webkit-slider-runnable-track {
  background: rgba(45, 170, 225, 0.67);
}
#servxs {
	margin: auto;
	vertical-align: middle;
	text-align: center;
}